apiVersion: apps/v1
kind: Deployment
metadata:
  name: consumer-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: consumer
  template:
    metadata:
      labels:
        app: consumer
    spec:
      containers:
        - name: consumer
          image: your-consumer-image
          env:
            - name: PRODUCER_HOST
              value: producer-service
          ports:
            - containerPort: 6000
---
apiVersion: v1
kind: Service
metadata:
  name: consumer-service
spec:
  type: ClusterIP
  selector:
    app: consumer
  ports:
    - port: 6000
      targetPort: 6000
